body {
    background-color: black;
}
h1 {
    color: lightgray;
    font-family: calibri;
}
h2 {
    color: lightgray;
    font-family: calibri;
}
h3 {
    color: lightgray;
    font-family: arial;
}
li {
    color: lightgray;
    font-family: arial;
}
p {
    color: lightgray;
    font-family: calibri
}